# TiDB Cloud MySQL Connection
DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=your_tidb_user.root
DB_PASSWORD=your_tidb_password
DB_NAME=mineshot_db
DB_SSL_CA=

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Admin Default Credentials (used on initial database setup)
DEFAULT_ADMIN_EMAIL=admin@mineshot.in
DEFAULT_ADMIN_PASSWORD=admin123
